
<h1 class="form-header">Add Tag</h1>
<div class="form-container">
    <form class="form" action="/admin/add/tag" method="POST">
        <label for="tags">Tags</label>
        <input required type="text" name="tags" id="tags" value="{{tags}}">
        <input class="submit" type="submit" value="Submit">
    </form>
</div>
