<nav class="nav-bar-wrapper">
    <div class="nav-bar">
        <a class="logo" href="/">
            <div>InJapan | 日本の中</div>
        </a>
        <div class="mobile-link-wrapper">
            <i class="fa fa-bars icon" aria-hidden="true"></i>
        </div>
        <div class="nav-links">
            <a class="link" href="/blogs">Blog</a>
            {{!-- <a class="link" href="#">About</a> --}}
            <a class="link" href="/#contact-anchor">Contact</a>
        </div>
    </div>
    <div class="mobile-links">
        <a class="m-link" href="/blogs">Blog</a>
        {{!-- <a class="m-link" href="#">About</a> --}}
        <a class="m-link" href="/#contact-anchor">Contact</a>
    </div>
</nav>