<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link id="css-sheet-index" rel="stylesheet" href="/css/InJapan/index-firefox.css">
    
    <title>InJapan - Home</title>
</head>

<body>
    <div class="entire-container">
        <div class="blog-container">
            
            {{> InJapan/_injapan-nav}}
            {{{body}}}
            {{> InJapan/_injapan-footer}}
            
            <div class="overlay"></div>
        </div>
    </div>
    
</body>

</html>