<nav class="admin-nav">
    <a class="logo" href="#">
        <div>InJapan | 日本の中</div>
    </a>
    <ul class="nav-links">
        <a href="/admin/add" class="links"><li>Add Blog</li></a>
        <a href="/admin" class="links">View Blogs</a>
        <a href="/admin/add/tag" class="links"><li>Add Tag</li></a>
        <a href="/admin/tag/dashboard" class="links"><li>View Tags</li></a>
        <a href="/admin/logout" class="links"><li>Logout</li></a>
    </ul>
</nav>